<div class= "container">
	<h1 class = "post" style = "color:#462A4C;">My BLOG</h1>
	<% @post.each do |post| %>
		<div class = "row">
			<div class = "col-md-12 post">
				<h2><%= link_to post.title, post%></h2>
				<p><small><strong>Date: </strong><%= post.created_at.strftime("%d %b. %Y")%></small></p>
				<p><small><strong>Category: </strong><%= post.category.name %></small></p>
				<p><%= truncate(post.body.html_safe, :length => 80, :escape => false)%></p>
				<%= link_to "Read More", post %>
				<hr>
			</div>
		</div>
	<% end %>
	
</div>
