<!DOCTYPE html>
<html>
<head>
  <title>DM| The Personal Website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  	<%if mobile_device?%>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<%else%>
		 <meta name="viewport" content="width=device-width">
	<%end%>
</head>
<body>

<div class = "container">



    <%= render "layouts/header" %>

		<%= yield %>


			<div class = "col-md-12 logo" id = "footer" style = "align:center;">
				<span class = "logoText">Powered by HaShem</span>
				<span class="glyphicon glyphicon-copyright-mark" style = "color:black; font-size:24px;"></span>
			</div>


	<br>
	</div>
</div>
</div>
</body>
</html>
